#root {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #f3f4f6, #e8f5e9);
  font-family: 'Poppins', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  margin: 0;
  padding: 0;
}
